@import '../pages/global.scss';

.blog__posts {
  padding: 1rem;
  &--container {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
  }

  &__item {
    flex: 1 0 calc(100% / 3 - 2rem);
    padding: 0.5rem;
    margin: 0.5rem;
    min-height: 280px;
    display: flex;

    @media only screen and (max-width: $bp-small) {
      flex: 1 0 100%;
      margin: 0;
    }

    &--wrapper {
      display: flex;
      flex-direction: column;
      background-color: #fff;
      box-shadow: var(--shadow-elevate-16)
    }
  }

  &__image-box {
    height: 160px;
    width: 100%;
    margin-bottom: 0rem;
    cursor: pointer;
    overflow: hidden;

    &:hover .blog__posts__image {
      filter: opacity(0.85);
      transform: scale(1.2);
    }
  }

  &__image {
    background-position: 50% 50%;
    background-size: cover;
    height: 100%;
    width: 100%;
    background-origin: border-box !important;
    transition: all 0.5s;
  }

  &__meta {
    .date {
      color: #3b3b3b;
      font-weight: 400;
      font-size: 0.8rem;
    }
    padding-bottom: 0.5rem;
  }

  &__content {
    cursor: pointer;
    margin-bottom: 1rem;
  }

  &__title {
    display: inline-block;
    padding-bottom: 0.5rem;
    color: #141414;
  }

  &__desc {
    color: #3b3b3b;
    font-weight: 400;
    font-size: 0.9rem;
  }
}
