@import "../pages/global.scss";

.footer {
  background-color: #141414;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  color: #fff;
  // position: fixed;
  // width: 100%;
  // bottom: 0;

  &__title {
    flex: 1;
    text-align: center;
    color: #fff;
    font-size: 3rem;

    @media only screen and (max-width: $bp-small) {
      font-size: 2rem;
    }
  }

  &__navigation {
    display: flex;
    justify-content: space-around;

    @media only screen and (max-width: $bp-small) {
      flex-direction: column;
      align-content: flex-start;
      justify-content: flex-start;
    }
  }

  &__sub-part {
    &--title {
    }
    &--desc {
      text-transform: capitalize;
    }

    & > a {
      color: #fff !important;

      &:hover {
        color: rgba(255, 196, 0, 0.75) !important;
      }
    }
  }
}
