.nav {
  width: 100%;
  z-index: 99;
  height: 4rem;
 // margin-bottom: -4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  border-bottom: 1px solid transparent;
  will-change: transform;
  transform: translateY(0);
  transition: all 0.5s;

  &:before {
    content: " ";
    display: block;
    height: 4rem;
  }
  &--left {
    color: #fff;
    flex: 0 0 50%;
  }

  &--right {
    color: #141414;
    flex: 0 1 50%;
    display: flex;
    justify-content: flex-end;
    margin-right: 2rem;

    a {
      padding: 1rem;
      font-weight: 900;
    }
  }

  .scroll-color {
    background-color: #fff;
  }

  &.hidden {
    transform: translateY(-100%);
  }

  &__fix {
    background-color: #fff;
    border-bottom: var(--line);
    box-shadow: var(--shadow-elevate-8)
  }

  &__logo {
    height: 3.5rem;
    margin-left: 2rem;
  }
}
