.circle-wrapper {
  background: repeating-radial-gradient(
    circle,
    rgba(0, 0, 0, 0.05),
    rgba(0, 0, 0, 0.05) 1px,
    #ffff 1px,
    #fff 50px
  );
}

.read__more {
  font-size: 1rem;
  font-weight: 500;
  color: var(--color-grey-dark-1);
  box-shadow: rgba(255, 196, 0, 0.75) 0px -2px 0px 0px inset;
  font-weight: bold;
  margin-right: 0.2rem;
  border-bottom: 1px solid rgba(255, 196, 0, 0.75);
  transition: all 0.3s;
  cursor: pointer;

  span {
    margin-left: 5px;
    transition: margin 0.3s;
  }

  &:hover {
    background: rgba(255, 196, 0, 0.75);
  }
}

.btn {
  &,
  &:link,
  &:visited {
    text-decoration: none;
    display: inline-block;
    transition: all 0.2s;
    position: relative;
    font-size: 1rem;
    border: 1px solid transparent;
    cursor: pointer;
    text-align: center;
    color: #141414;
    outline: none;
    transition: all .3s;
  }

  &--next {
    background: #141414;
    border-radius: 10rem;
    color: #fff;
    margin-top: 1rem;
    padding: 0.5rem 1.5rem;

    span {
      margin-left: 5px;
    }
  }

  
  &.btn--active-link {
    border-bottom: 1px solid #141414 !important;
    box-shadow: #141414 0px -2px 0px 0px inset;
    border-radius: 0; 
  }

  &:hover {
    border-bottom: 1px solid #141414 !important;
    box-shadow: #141414 0px -2px 0px 0px inset;
    border-radius: 0; 
  }
}

.share__button {
  border: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
  outline: none;
}
