.blog__posts {
  padding: 1rem; }
  .blog__posts--container {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch; }
  .blog__posts__item {
    flex: 1 0 calc(100% / 3 - 2rem);
    padding: 0.5rem;
    margin: 0.5rem;
    min-height: 280px;
    display: flex; }
    @media only screen and (max-width: 37.5em) {
      .blog__posts__item {
        flex: 1 0 100%;
        margin: 0; } }
    .blog__posts__item--wrapper {
      display: flex;
      flex-direction: column;
      background-color: #fff;
      box-shadow: var(--shadow-elevate-16); }
  .blog__posts__image-box {
    height: 160px;
    width: 100%;
    margin-bottom: 0rem;
    cursor: pointer;
    overflow: hidden; }
    .blog__posts__image-box:hover .blog__posts__image {
      filter: opacity(0.85);
      transform: scale(1.2); }
  .blog__posts__image {
    background-position: 50% 50%;
    background-size: cover;
    height: 100%;
    width: 100%;
    background-origin: border-box !important;
    transition: all 0.5s; }
  .blog__posts__meta {
    padding-bottom: 0.5rem; }
    .blog__posts__meta .date {
      color: #3b3b3b;
      font-weight: 400;
      font-size: 0.8rem; }
  .blog__posts__content {
    cursor: pointer;
    margin-bottom: 1rem; }
  .blog__posts__title {
    display: inline-block;
    padding-bottom: 0.5rem;
    color: #141414; }
  .blog__posts__desc {
    color: #3b3b3b;
    font-weight: 400;
    font-size: 0.9rem; }

.nav {
  width: 100%;
  z-index: 999;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  border-bottom: 1px solid transparent;
  will-change: transform;
  transform: translateY(0);
  transition: all 0.5s; }
  .nav a {
    font-weight: 400;
    text-transform: uppercase; }
  .nav__links {
    margin-right: 1rem;
    letter-spacing: 2px; }
    .nav__links > .btn {
      color: rgba(0, 0, 0, 0.64) !important;
      padding: 1rem 0; }
  .nav--right {
    flex: 0 1 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 2rem; }
  .nav__share__links {
    display: flex;
    list-style: none; }
    .nav__share__links__item:not(:last-child) {
      margin-right: 1rem; }
  .nav .scroll-color {
    background-color: #fff; }
  .nav.hidden {
    transform: translateY(-100%); }
  .nav__fix {
    background-color: #fff;
    border-bottom: var(--line);
    box-shadow: var(--shadow-elevate-8); }
  .nav__logo {
    height: 3.5rem;
    margin-left: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .nav__logo {
        margin-left: 0.5rem; } }

.footer {
  background-color: #141414;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  height: 7rem; }
  .footer__title {
    flex: 1;
    text-align: center;
    color: #fff;
    font-size: 3rem; }
    @media only screen and (max-width: 37.5em) {
      .footer__title {
        font-size: 2rem; } }

.circle-wrapper {
  background: repeating-radial-gradient(circle, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05) 1px, #ffff 1px, #fff 50px); }

.read__more {
  font-size: 1rem;
  font-weight: 500;
  color: var(--color-grey-dark-1);
  box-shadow: rgba(255, 196, 0, 0.75) 0px -2px 0px 0px inset;
  font-weight: bold;
  margin-right: 0.2rem;
  border-bottom: 1px solid rgba(255, 196, 0, 0.75);
  transition: all 0.3s;
  cursor: pointer; }
  .read__more span {
    margin-left: 5px;
    transition: margin 0.3s; }
  .read__more:hover {
    background: rgba(255, 196, 0, 0.75); }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  display: inline-block;
  transition: all 0.2s;
  position: relative;
  font-size: 1rem;
  border: 1px solid transparent;
  cursor: pointer;
  text-align: center;
  color: #141414;
  outline: none;
  transition: all .3s; }

.btn--next {
  background: #141414;
  border-radius: 10rem;
  color: #fff;
  margin-top: 1rem;
  padding: 0.5rem 1.5rem; }
  .btn--next span {
    margin-left: 5px; }

.btn.btn--active-link {
  color: #141414 !important;
  border-bottom: 1px solid #141414 !important;
  box-shadow: #141414 0px -2px 0px 0px inset;
  border-radius: 0; }

.btn.btn-link:hover {
  color: #141414 !important;
  border-bottom: 1px solid #141414 !important;
  box-shadow: #141414 0px -2px 0px 0px inset;
  border-radius: 0; }

.share__button {
  border: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
  outline: none;
  transition: all .2s; }
  .share__button:hover {
    fill: rgba(255, 196, 0, 0.75); }

.padding--2 {
  padding: 2rem; }

.vertical__title {
  color: #141414;
  display: block;
  text-align: right;
  background-image: linear-gradient(#141414 0%, #141414 100%);
  background-size: 100% 1px;
  background-repeat: no-repeat;
  background-position: center center;
  letter-spacing: 1px;
  font-variant: small-caps;
  text-transform: lowercase;
  /* background-position: 13% 16%; */
  text-transform: uppercase;
  line-height: 1;
  /* margin: 0px; */
  font-family: inherit;
  font-size: 1.5rem;
  max-width: 11.5em;
  transform-origin: center right;
  transform: rotateZ(90deg) translateX(6em) translateY(1em);
  letter-spacing: 4px;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%; }
  .vertical__title span {
    display: inline-block;
    /* padding: 0 0.6em; */
    /* background-color: #f6f3f2; */
    position: relative;
    left: 17rem; }
  @media only screen and (max-width: 37.5em) {
    .vertical__title {
      font-size: 1rem;
      max-width: 15.5em;
      letter-spacing: 6px; } }

.article {
  max-width: 740px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  margin: 0 auto; }
  .article--container {
    padding: 2rem 0rem;
    border-bottom: var(--line);
    min-height: calc(100vh - 4rem) !important; }
    .article--container::after {
      content: "";
      display: table; }
    .article--container::before {
      content: "";
      display: table; }
  .article img {
    background-size: cover;
    max-width: 740px; }
  .article__title {
    font-size: 3rem;
    letter-spacing: -1px;
    line-height: 1.4; }
  .article__summary {
    font-size: 1.5rem;
    letter-spacing: -1px;
    margin-bottom: 2rem;
    font-style: italic;
    color: var(--color-grey-dark-3);
    font-weight: 300; }
  .article__content > div {
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    flex-direction: column; }
  .article__related__posts {
    background: #f9f9f9;
    padding: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .article__related__posts {
        padding: 0; } }
    .article__related__posts .blog__posts {
      max-width: 75rem;
      margin: 0 auto; }
  .article__paragraph {
    margin-bottom: 2rem; }
  .article__line-height--2 {
    line-height: 2 !important; }
  .article__share {
    max-width: 1000px;
    margin: 0 auto; }
    .article__share::after {
      content: "";
      display: table; }
    .article__share::before {
      content: "";
      display: table; }
  .article__share__wrapper {
    top: 0%; }
    .article__share__wrapper--fixed {
      position: fixed !important; }
    .article__share__wrapper--absolute {
      position: absolute !important; }
  .article__share__list {
    list-style: none; }
    .article__share__list__item {
      margin-top: 10px;
      margin-bottom: 10px; }

.blog {
  max-width: 75rem;
  margin: 0 auto; }
  .blog__feature {
    padding: 2rem; }
    @media only screen and (max-width: 68.75em) {
      .blog__feature {
        display: none; } }
    .blog__feature--container {
      height: 60vh;
      background: #fff;
      display: flex;
      justify-content: center;
      overflow: hidden;
      box-shadow: var(--shadow-elevate-16); }
    .blog__feature__content {
      flex: 0 0 40%;
      padding: 4rem;
      align-self: center;
      cursor: pointer; }
    .blog__feature__title {
      display: inline-block;
      padding: 1rem 0rem; }
      .blog__feature__title .highlight__hover {
        background-image: linear-gradient(120deg, #ffc400c2 0%, #ffc400c2 100%);
        background-repeat: no-repeat;
        background-position: 0 88%;
        background-size: 100% 0;
        transition: background-size 0.25s ease-in; }
      .blog__feature__title:hover .highlight__hover {
        background-size: 100% 0.5rem; }
    .blog__feature__desc {
      color: #3b3b3b;
      font-weight: 400;
      font-size: 1rem;
      padding-bottom: 0.5rem; }
    .blog__feature__image-box {
      width: 100%; }
      .blog__feature__image-box:hover {
        filter: opacity(0.85); }
    .blog__feature__image {
      height: 100%;
      background-position: 50% 50%;
      background-size: cover; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Roboto"; }


/*# sourceMappingURL=styles.chunk.css.map*/