.circle-wrapper {
  background: repeating-radial-gradient(circle, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05) 1px, #ffff 1px, #fff 50px); }

.header {
  background-image: #fff;
  background-size: cover;
  height: 85vh;
  overflow: hidden;
  position: relative; }
  .header__content {
    height: 100%;
    padding-top: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .header__content--left {
      flex: 0 0 60%;
      color: #141414;
      padding: 3rem;
      font-size: 1.3rem; }
    .header__content--right {
      flex: 0 0 40%;
      color: #141414;
      padding: 3rem;
      font-size: 1.3rem;
      display: flex;
      flex-direction: column; }
    .header__content .show__images {
      height: 27rem;
      width: 100%; }
      .header__content .show__images .show__images__item {
        background-image: url(/static/assets/images/yin-yang.png);
        height: 100%;
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        transform: translate(0%, -13%); }
        .header__content .show__images .show__images__item:hover {
          transform: translate(0%, -13%) rotate(180deg); }
    .header__content__text {
      margin-bottom: 1rem;
      line-height: 1.5; }
      .header__content__text--large {
        font-size: 4rem;
        font-weight: 900;
        line-height: 1;
        letter-spacing: -4px; }
        .header__content__text--large .highlight {
          background-image: linear-gradient(120deg, #ffc400c2 0%, #ffc400c2 100%);
          background-repeat: no-repeat;
          background-size: 100% 0.2em;
          background-position: 0 88%;
          transition: background-size 0.25s ease-in; }
          .header__content__text--large .highlight:hover {
            background-size: 100% 88%; }
      .header__content__text--small {
        font-size: 1.2rem;
        font-style: italic; }
  .header__title-left {
    position: absolute;
    font-size: 10rem;
    bottom: 0;
    left: -9px;
    color: #141414;
    letter-spacing: 5px;
    line-height: 1;
    text-transform: capitalize;
    -webkit-font-smoothing: antialiased; }
  .header__title-top {
    position: absolute;
    font-size: 10rem;
    bottom: 0;
    right: 15rem;
    color: #141414;
    letter-spacing: 5px;
    line-height: 1;
    text-transform: capitalize;
    -webkit-font-smoothing: antialiased; }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  text-align: center;
  color: #141414; }

.btn--next {
  background: #141414;
  color: #fff;
  margin-top: 1rem;
  padding: 0.5rem 1.5rem; }
  .btn--next span {
    margin-left: 5px; }

.nav {
  position: fixed;
  width: 100%;
  display: flex; }
  .nav--left {
    color: #fff;
    flex: 0 0 50%; }
  .nav--right {
    color: #141414;
    flex: 0 1 50%;
    display: flex;
    justify-content: flex-end;
    margin-right: 2rem; }
    .nav--right a {
      padding: 1rem;
      font-weight: 900; }

.section-left {
  padding: 3rem;
  background-size: cover;
  background-repeat: no-repeat; }

.content {
  display: flex; }
  .content__desc {
    flex: 0 0 40%;
    background: #141414;
    max-height: 80vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    border-radius: 2px; }
  .content__item {
    padding: 1rem 2rem; }
    .content__item--head {
      font-size: 2rem;
      font-weight: 100; }
    .content__item--sub {
      font-size: 1.5rem;
      font-weight: 400; }

.section-principles {
  padding: 2rem; }

.principles__container {
  display: flex;
  flex-wrap: wrap; }

.principles__item {
  flex: 1 0 calc(100% / 5);
  background: #fff;
  padding: 2rem;
  border-bottom: 1px solid #333;
  border-right: 1px solid #333;
  position: relative;
  min-height: 5rem; }
  .principles__item:nth-child(5n) {
    border-right: none; }
  .principles__item:last-child {
    border-right: none; }
  .principles__item:nth-last-child(-n + 4) {
    border-bottom: none; }
  .principles__item__logo-box {
    height: 5rem;
    background-size: cover;
    background-position: 50% 50%; }
  .principles__item__logo {
    height: 100%;
    width: 100%;
    object-fit: contain; }
  .principles__item__header {
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 4rem;
    right: 2rem;
    width: 75%; }
    .principles__item__header--text {
      background: rgba(0, 0, 0, 0.45);
      padding: 0.5rem 1rem;
      -webkit-box-decoration-break: clone; }
  .principles__item__content {
    padding: 0.5rem; }

.principles__title {
  padding: 2rem;
  font-size: 3.3rem;
  background-color: #141414;
  height: 100%;
  color: #fff;
  font-weight: 900;
  box-decoration-break: clone; }

.section-quotes {
  padding: 2rem; }
  .section-quotes .quotes {
    display: flex;
    flex-wrap: wrap;
    padding: 4rem; }
    .section-quotes .quotes__item {
      flex: 1 0 calc(100% / 2 - 6rem);
      background-color: #fff;
      padding: 1rem 2rem;
      margin-bottom: 2rem;
      margin-right: 2rem;
      min-height: 12rem;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      overflow: hidden;
      border-radius: 2px;
      box-shadow: var(--shadow-elevate-12); }
      .section-quotes .quotes__item::after {
        content: "\201C";
        position: absolute;
        top: -2.75rem;
        left: -1rem;
        font-size: 20rem;
        line-height: 1;
        color: var(--color-grey-light-2);
        font-family: sans-serif;
        z-index: 1; }
      .section-quotes .quotes__item::before {
        content: "\201D";
        position: absolute;
        bottom: -13rem;
        right: -1rem;
        font-size: 20rem;
        line-height: 1;
        color: var(--color-grey-light-2);
        font-family: sans-serif;
        z-index: 1; }
      .section-quotes .quotes__item__text {
        color: #141414;
        font-size: 1.3rem;
        z-index: 9;
        font-style: italic;
        -webkit-font-smoothing: antialiased; }

.section-questions {
  padding: 2rem; }
  .section-questions .questions {
    margin: 0 auto; }
    .section-questions .questions__item {
      padding: 2rem;
      background-color: #fff;
      display: flex; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto"; }

.blog {
  max-width: 75rem;
  margin: 0 auto; }
  .blog__feature {
    padding: 2rem; }
    .blog__feature--container {
      height: 60vh;
      background: #f9f9f9;
      display: flex;
      justify-content: center;
      overflow: hidden; }
    .blog__feature__content {
      flex: 0 0 40%;
      padding: 4rem;
      align-self: center;
      cursor: pointer; }
    .blog__feature__title {
      display: inline-block;
      padding: 1rem 0rem; }
      .blog__feature__title::after {
        content: "";
        display: block;
        width: 0;
        height: 4px;
        border-radius: 2px;
        background: #141414;
        transition: width 0.3s; }
      .blog__feature__title:hover::after {
        width: 100%; }
    .blog__feature__desc {
      color: #3b3b3b;
      font-weight: 400;
      font-size: 1rem;
      padding-bottom: 0.5rem; }
    .blog__feature__image-box {
      width: 100%;
      cursor: pointer; }
      .blog__feature__image-box:hover {
        filter: opacity(0.85); }
    .blog__feature__image {
      height: 100%;
      background-position: 50% 50%;
      background-size: cover; }
  .blog .read__more {
    font-size: 1rem;
    font-weight: 300;
    color: var(--color-grey-dark-1);
    cursor: pointer; }
    .blog .read__more span {
      margin-left: 5px;
      transition: margin 0.3s; }
    .blog .read__more:hover span {
      margin-left: 7px; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Roboto"; }

.blog__posts {
  padding: 1rem; }
  .blog__posts--container {
    display: flex;
    flex-wrap: wrap; }
  .blog__posts__item {
    flex: 1 0 calc(100% / 3 - 4rem);
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    margin: 0.5rem;
    min-height: 280px; }
  .blog__posts__image-box {
    height: 160px;
    width: 100%;
    margin-bottom: 2rem;
    cursor: pointer;
    overflow: hidden; }
    .blog__posts__image-box:hover .blog__posts__image {
      filter: opacity(0.85);
      transform: scale(1.2); }
  .blog__posts__image {
    background-position: 50% 50%;
    background-size: cover;
    height: 100%;
    width: 100%;
    background-origin: border-box !important;
    transition: all 0.5s; }
  .blog__posts__meta {
    padding-bottom: 0.5rem; }
    .blog__posts__meta .date {
      color: #3b3b3b;
      font-weight: 400;
      font-size: 0.8rem; }
  .blog__posts__content {
    cursor: pointer;
    margin-bottom: 1rem; }
  .blog__posts__title {
    display: inline-block;
    padding-bottom: 0.5rem;
    color: #141414; }
    .blog__posts__title::after {
      content: "";
      display: block;
      width: 0;
      height: 2px;
      border-radius: 2px;
      background: #141414;
      transition: width 0.3s; }
    .blog__posts__title:hover::after {
      width: 100%; }
  .blog__posts__desc {
    color: #3b3b3b;
    font-weight: 400;
    font-size: 0.9rem; }

.read__more {
  font-size: 1rem;
  font-weight: 300;
  color: var(--color-grey-dark-1);
  cursor: pointer; }
  .read__more span {
    margin-left: 5px;
    transition: margin .3s; }
  .read__more:hover span {
    margin-left: 7px; }


/*# sourceMappingURL=styles.chunk.css.map*/