@import "./global.scss";

.section__questions {
  padding: 2rem;
  min-height: 80vh;
  padding-bottom: 5rem;

  @media only screen and (max-width: $bp-small) {
    min-height: 80vh;
    padding: 1rem;
  }
}

.questions {
  max-width: 50rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: flex-start;

  @media only screen and (max-width: $bp-small) {
    max-width: 100vw;
  }

  &__main-title {
    display: flex;
    align-items: center;

    & > h1 {
      font-size: 3rem;
      font-weight: 400;

      @media only screen and (max-width: $bp-small) {
        font-size: 1.5rem;
      }
    }

    & > span > svg {
      margin-right: 1rem;
    }
  }

  .questions__list {
    padding: 0 2rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;

    @media only screen and (max-width: $bp-small) {
      padding: 0;
    }

    &__item {
      background: #fff;
      border-radius: 4px;
      box-shadow: var(--shadow-elevate-12);
      padding: 1rem 2rem;
      flex: 1 1 100%;
      transition: all 0.2s;
      cursor: pointer;

      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }

    &__item--question {
      display: flex;
      justify-content: space-between;
      align-items: center;

      & > * {
        font-size: 1.5rem;
        font-weight: 500;

        @media only screen and (max-width: $bp-small) {
          font-size: 1.3rem;
          font-weight: 500;
        }
      }
    }

    &__item--answer {
      margin-top: 0.5rem;

      & > p {
        font-size: 1.3rem;
        font-weight: 300;

        @media only screen and (max-width: $bp-small) {
          font-size: 1.1rem;
          font-weight: 400;
        }
      }
    }
  }
}
