@import "./global.scss";

.highlight {
  color: #141414;
  background-image: linear-gradient(120deg, #ffc400c2 0%, #ffc400c2 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in, color 0.1s;
  &:hover {
    background-size: 100% 88%;
    color: #fff;
  }
}

.header {
  background-image: #fff;
  background-size: cover;
  min-height: 20vh;
  overflow: hidden;
  position: relative;
  // background: repeating-radial-gradient(
  //   circle,
  //   rgba(0, 0, 0, 0.05),
  //   rgba(0, 0, 0, 0.05) 1px,
  //   #ffff 1px,
  //   #fff 50px
  // );

  &__content {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--left {
      flex: 0 0 60%;
      color: #141414;
      padding: 3rem;
      font-size: 1.3rem;

      @media only screen and (max-width: $bp-large) {
        flex: 0 0 100%;
        padding: 2rem;
      }
    }

    &--right {
      flex: 0 0 40%;
      color: #141414;
      padding: 3rem;
      font-size: 1.3rem;
      display: flex;
      flex-direction: column;

      @media only screen and (max-width: $bp-large) {
        display: none;
      }
    }

    .show__images {
      height: 24rem;
      width: 100%;
      .show__images__item {
        background-image: url(/static/assets/images/yin-yang.png);
        height: 100%;
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        transform: translate(0%, -13%);
      }
    }
    &__text {
      margin-bottom: 1rem;
      line-height: 1.5;

      &--large {
        font-size: 4rem;
        font-weight: 600;
        line-height: 1;
        letter-spacing: -4px;

        @media only screen and (max-width: $bp-large) {
          font-size: 3rem;
          letter-spacing: -2px;
        }
      }

      &--small {
        font-size: 1.2rem;
        font-style: italic;
        color: rgba(0, 0, 0, 0.84);
        // font-weight: 900;
        // line-height: 1;
        // letter-spacing: -5px;
      }
    }
  }

  &__title-left {
    position: absolute;
    font-size: 10rem;
    bottom: 0;
    left: -9px;
    color: #141414;
    letter-spacing: 5px;
    line-height: 1;
    text-transform: capitalize;
    -webkit-font-smoothing: antialiased;
  }

  &__title-top {
    position: absolute;
    font-size: 10rem;
    bottom: 0;
    right: 15rem;
    color: #141414;
    letter-spacing: 5px;
    line-height: 1;
    text-transform: capitalize;
    -webkit-font-smoothing: antialiased;
  }
}

.section-left {
  padding: 3rem;
  // background-image: url("/static/assets/images/universe.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  @media only screen and (max-width: $bp-large) {
    padding: 2rem;
  }

  @media only screen and (max-width: $bp-small) {
    padding: 1rem;
  }
}

.content {
  display: flex;
  &__desc {
    flex: 0 0 100%;
    background: #ffffff;
    min-height: 20vh;
    color: #141414;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    border-radius: 2px;
    box-shadow: var(--shadow-elevate-24);

    @media only screen and (max-width: $bp-large) {
      flex: 1 0 100%;
    }

    &::after {
      content: "";
      background-image: url(/static/assets/icons/follow.svg); 
    }
  }

  &__item {
    padding: 1rem 2rem;

    &--head {
      font-size: 2rem;
      font-weight: 200;
    }

    &--sub {
      font-size: 1.5rem;
      font-weight: 400;
      font-style: italic;
    }
  }
}

.content__bloat {
  &__list {
    list-style: none;
    padding: 2rem;
    padding-bottom: 2rem;
    margin-left: 7rem;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5rem;

    @media only screen and (max-width: $bp-large) {
      display: none;
    }

    &__item {
      flex: 0 0 50%;
      margin-bottom: 0.7rem;
      cursor: pointer;

      @media only screen and (max-width: $bp-large) {
        flex: 0 0 0;
        display: none;
      }

      &::before {
        content: "";
        display: inline-block;
        height: 1rem;
        width: 1rem;
        margin-right: 0.7rem;
        background-image: url("/static/assets/icons/arrow-right.svg");
        background-size: cover;
      }

      .highlight__hover {
        background-image: linear-gradient(120deg, #ffc400c2 0%, #ffc400c2 100%);
        background-repeat: no-repeat;
        background-position: 0 88%;
        background-size: 100% 0;
        transition: background-size 0.25s ease-in;
      }

      &:hover .highlight__hover {
        background-size: 100% 0.5rem;
      }

      &:hover::before {
        background-color: #ffc400c2;
      }
    }
  }
}

@supports (-webkit-mask-image: url()) or (mask-image: url()) {
  .content__bloat__list__item::before {
    background-color: #141414;
    -webkit-mask-image: url("/static/assets/icons/arrow-right.svg");
    -webkit-mask-size: cover;
    mask-image: url("/static/assets/icons/arrow-right.svg");
    mask-size: cover;
    background-image: none;
  }
}

.section-quotes {
  padding: 2rem;
  //  background: #141414;

  @media only screen and (max-width: $bp-small) {
    padding: 1rem;
  }

  .quotes {
    display: flex;
    flex-wrap: wrap;
    padding: 4rem;
    padding-top: 0;

    @media only screen and (max-width: $bp-large) {
      padding: 0;
    }

    &__item {
      flex: 1 0 calc(100% / 2 - 6rem);
      background-color: #fff;
      padding: 1rem 2rem;
      margin-bottom: 2rem;
      margin-right: 2rem;
      min-height: 12rem;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      overflow: hidden;
      border-radius: 2px;
      box-shadow: var(--shadow-elevate-12);

      @media only screen and (max-width: $bp-small) {
        flex: 1 0 100%;
      }

      &::after {
        content: "\201C";
        position: absolute;
        top: -2.75rem;
        left: -1rem;
        font-size: 20rem;
        line-height: 1;
        color: var(--color-grey-light-2);
        font-family: sans-serif;
        z-index: 1;
      }

      &::before {
        content: "\201D";
        position: absolute;
        bottom: -13rem;
        right: -1rem;
        font-size: 20rem;
        line-height: 1;
        color: var(--color-grey-light-2);
        font-family: sans-serif;
        z-index: 1;
      }

      &__text {
        color: #141414;
        font-size: 1.3rem;
        z-index: 9;
        font-style: italic;
        -webkit-font-smoothing: antialiased;
      }
    }
  }
}

.section-questions {
  padding: 2rem;
  .questions {
    margin: 0 auto;

    &__item {
      padding: 2rem;
      background-color: #fff;
      display: flex;
      flex-wrap: wrap;
    }
  }
}

.section-principles {
  padding: 2rem;

  @media only screen and (max-width: $bp-small) {
    padding: 0.5rem;
  }
}

.principles {
  padding: 2rem;

  @media only screen and (max-width: $bp-large) {
    padding: 0;
  }

  &__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 800px;
    align-content: stretch;
    width: 100%;

    @media only screen and (max-width: $bp-large) {
      max-height: 100%;
    }

    &__item {
      padding: 0.5rem;

      // @media only screen and (max-width: $bp-large) {
      //   padding: 0;
      // }
    }

    &__title {
      font-size: 1.1rem;
      font-weight: 300;
      text-transform: capitalize;
      position: absolute;
      color: #fff;
      top: 60%;
      right: 1px;
      padding: 0.5rem 1.5rem;
      background-color: rgba(0, 0, 0, 0.45);

      @media only screen and (max-width: $bp-small) {
        // font-size: 1rem;
        padding: 0.2rem 1rem;
      }
    }

    &__item__image--box {
      height: 100%;
      border-radius: 10px;
      box-shadow: var(--shadow-elevate-12);
      position: relative;
      overflow: hidden;
      cursor: pointer;
    }

    &__item__image {
      background-size: cover;
      background-position: 50% 50%;
      height: 100%;
      border-radius: 10px;
      border: var(--line);
      transition: all 0.2s;

      &:hover {
        filter: blur(1px);
      }
    }

    &__block--five {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      max-height: 300px;

      @media only screen and (max-width: $bp-large) {
        flex-direction: row;
        max-height: 100%;
      }
    }

    &__block--four {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      max-height: 300px;

      @media only screen and (max-width: $bp-large) {
        flex-direction: row;
        max-height: 100%;
      }
    }

    &__item--large {
      // height: 20rem;
      height: 300px;

      @media only screen and (max-width: $bp-large) {
        height: 150px;
        flex: 1 0 50%;
      }
    }

    &__item--small {
      height: 150px;
      @media only screen and (max-width: $bp-large) {
        height: 150px;
        flex: 1 0 50%;
      }
    }
  }
}

.section-twitter {
  display: flex;
  justify-content: center;
}

blockquote.twitter-tweet {
  display: inline-block;
  font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  border-color: #eee #ddd #bbb;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  margin: 10px 5px;
  padding: 0 16px 16px 16px;
  max-width: 468px;
}

blockquote.twitter-tweet p {
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
}

blockquote.twitter-tweet a {
  color: inherit;
  font-weight: normal;
  text-decoration: none;
  outline: 0 none;
}

blockquote.twitter-tweet a:hover,
blockquote.twitter-tweet a:focus {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto";
}
